{% extends "base.html" %}
{% block titre %}Inscription — Okoumé Finance{% endblock %}
{% block contenu %}
    <h1>Créer un compte</h1>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <p style="color:#E8B33D;">{{ messages[0] }}</p>
        {% endif %}
    {% endwith %}

    <form method="POST">
        <label>Nom</label>
        <input type="text" name="nom" required>

        <label>Téléphone</label>
        <input type="text" name="telephone" required>

        <label>Mot de passe</label>
        <input type="password" name="mot_de_passe" id="mdp2" required>

        <label style="display:flex; align-items:center; gap:8px; font-size:13px;">
            <input type="checkbox" onclick="document.getElementById('mdp2').type = this.checked ? 'text' : 'password';" style="width:auto; margin:0;">
            Afficher le mot de passe
        </label>

        <button type="submit">S'inscrire</button>
    </form>
    <a href="/connexion" class="retour">Déjà un compte ? Se connecter</a>
{% endblock %}